    .slider {
        width: 100%;
    }



    .slider-value {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .amount {
        font-size: 20px;
        margin-bottom: 20px;
    }
