<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${@appConfig.getClientName()} + ' » Документы'"></title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="UTF-8">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="vendor/aos/aos.css" rel="stylesheet">
    <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" th:href="@{/img/logo.png}">

    <link href="css/main.css" rel="stylesheet">

    <link rel="icon" type="image/x-icon" th:href="@{/img/logo.png}">


</head>

<body class="index-page">

<header th:insert="~{elements/header :: header}"></header>

<main class="container mt-5" style="flex-grow: 1;  display: flex;
    min-height: 100vh;" data-aos="zoom-out">
    <div class="cont ">
        <p class="text-center fw-bold fs-3">Пользовательское соглашение</p>
        <text style="white-space: pre-line;">

            Настоящее Пользовательское соглашение (далее – Соглашение) регулирует отношения между <span th:text="${@appConfig.getRUNAME()}"></span> - владельцем интернет-ресурса <span th:text="${@appConfig.getDomain()}"></span> - и любым физическим лицом - Пользователем интернет-ресурса <span th:text="${@appConfig.getDomain()}"></span>

            Предмет соглашения
            1.1 Компания занимается разработкой программного обеспечения, включая дополнительные загружаемые контенты (DLC), предназначенные для использования на платформе Minecraft.
            1.2 Пользователь приобретает доступ к DLC, предоставляемому Компанией, в соответствии с условиями настоящего соглашения.

            Ограничения использования DLC
            2.1 Пользователь обязуется не передавать, не распространять и не использовать данные, полученные при входе в систему или использовании DLC, без предварительного письменного разрешения Компании.
            2.2 Компания является независимой организацией и не имеет прямого отношения к Mojang и Microsoft. Пользователь признает и понимает, что Компания не имеет связи с указанными компаниями.
            2.3. DLC, предоставляемые Проектом, не являются официальными продуктами Mojang и не имеют одобрения или поддержки со стороны Mojang или Microsoft Corporation.
            2.4. Все товарные знаки, логотипы и авторские права, относящиеся к Minecraft и Mojang, являются собственностью соответствующих правообладателей.

            Отзыв доступа к DLC
            3.1 Пользователь понимает и соглашается с тем, что доступ к DLC может быть отозван администратором проекта в любой момент без предварительного уведомления.

            Возврат денежных средств
            4.1 Пользователь вправе запросить полный возврат суммы денежных средств в следующих случаях:
            - Товар не был активирован или запущен после приобретения.

            4.2 Пользователь вправе запросить частичный возврат суммы денежных средств в течение 14 дней в следующих случаях:
            - DLC не оправдало ожидание Пользователя
            - Устройство Пользователя выдает ошибки при запуске DLC, из-за проблем ОС Пользователя.

            Для возврата, Пользователь должен написать письмо на действующий Email адрес, который можно найти в разделе контактов.

            Ответственность
            5.1 Компания не несет ответственности за возможные проблемы, ошибки или повреждения, возникшие во время или после использования DLC Пользователем.
            5.2 Пользователь осознает и соглашается с тем, что DLC представляют собой цифровой продукт, и в случае технических неполадок, ошибок или проблем, Компания не гарантирует их исправление или возмещение ущерба.

            Заключительные положения
            6.1 Настоящее соглашение является юридически обязательным документом, регулирующим отношения между Компанией и Пользователем.
            6.2 Проект оставляет за собой право в любое время изменять условия данного Соглашения путем размещения обновленной версии на своем веб-сайте или иным уведомлением Пользователю.
            6.3. Пользователь обязуется периодически проверять наличие обновлений и изменений в настоящем Соглашении. Продолжение использования Разработок после внесения изменений означает согласие Пользователя с обновленными условиями.
            6.4 Настоящее соглашение регулируется действующим законодательством РФ, и все споры, возникающие в связи с настоящим соглашением, подлежат разрешению в соответствии с законодательством РФ.
            Подтверждая свое согласие и принимая условия настоящего соглашения, Пользователь соглашается с обязательствами и ограничениями, установленными в настоящем соглашении.

        </text>
    </div>
</main>
<footer id="footer" th:insert="~{elements/footer :: footer}"></footer>
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<script src="vendor/aos/aos.js"></script>
<script src="js/main.js"></script>

</body>


</html>