<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${@appConfig.getClientName()} + ' » Восстановление'"></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" th:href="@{/img/logo.png}">

    <link href="css/main.css" rel="stylesheet">
    <link href="css/auth.css" rel="stylesheet">
    <link href="vendor/aos/aos.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <script>
        $(document).ready(function(){
            $("#authForm").submit(function(event){
                event.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "/lostpassword",
                    data: $(this).serialize(),
                    success: function(response){
                        $("#result").html(response);
                    }
                });
            });
        });
    </script>

</head>

<body class="index-page">

<header th:insert="~{elements/header :: header}"></header>

<section class="customContainer forms" style="height: 80vh;">

    </div>
    <div class="form recover">
        <div class="form-content">


            <div class="text-center">
                <img src="img/logo.png" alt="" width="60px">
            </div>


            <div style="text-align: center; font-size: 15px;">
                <div class="titleText">Восстановление доступа</div>
            </div>


            <div class="text-center mt-5">
                <div id="result"></div>
            </div>

            <form id = "authForm"  method="post">
                <div class="field input-field">
                    <input type="email" name="email" placeholder="Введите e-mail" class="input">
                </div>
                <br> </br>

                <div class="field button-field" type="sumbit">
                    <button class="btn-getstarted">Восстановить</button>
                </div>
                <div class="form-link">
                    <span class="text-white">У вас уже есть аккаунт? <a href="/login" class="recoverbutton">Войти</a></span>
                </div>
            </form>
        </div>
    </div>

</section>


</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/main.js"></script>